	body{
	background: #f7f7f7;
	
	}
	.login-form {
		width: 400px;
    	margin: 50px auto;

	}
    .login-form form {
    	margin-bottom: 15px;
    	background: #f7f7f7;
        line-height: 14px;
    	padding-bottom : 30px;
    	border-bottom: 1px solid #e4e4e5;
    }
    .form-control, .btn {
        min-height: 50px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    .find_info a{
   	 text-decoration: none;
    
    }